<!DOCTYPE html>
<html>
<head>
  <title>Last seen</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "last_seen/application", media: "all" %>
  <%= javascript_include_tag "last_seen/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
